.section {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 5%;

  @media only screen and (max-width: $bp-medium) {
    padding: 10%;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 15%;
  }

  &--1 {
    background-color: $color-bright-orange;
  }
  &--2 {
    background-color: $color-dark-cyan;
  }
  &--3 {
    background-color: $color-very-dark-cyan;
  }

  &__icon {
    margin-bottom: 10%;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 5%;
    }
  }

  &__heading {
    font-family: "Big Shoulders Display";
    font-size: 3.2rem;
    text-transform: uppercase;
    margin-bottom: 5%;

    @media only screen and (max-width: $bp-small) {
      font-size: 4rem;
    }
  }

  &__paragraph {
    font-size: 1.3rem;
    margin-bottom: auto;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.8rem;
      margin-bottom: 5%;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 2rem;
      margin-bottom: 10%;
    }
  }

  &__btn {
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.5rem;
      padding: 1.5rem 3rem;
    }

    &:hover {
      color: $color-very-light-gray;
      border: 0.1rem solid $color-very-light-gray;
    }

    &:focus {
      outline: none;
    }

    &--1 {
      color: $color-bright-orange;

      &:hover {
        background-color: $color-bright-orange;
      }
    }

    &--2 {
      color: $color-dark-cyan;
      &:hover {
        background-color: $color-dark-cyan;
      }
    }

    &--3 {
      color: $color-very-dark-cyan;

      &:hover {
        background-color: $color-very-dark-cyan;
      }
    }
  }
}
